.abrirMenu {
    font-family: "Jersey 25", sans-serif;
    padding: 10px 20px;
    color: white;
    border: 2px solid #840EC9;
    cursor: pointer;
    border-radius: 5px;
}

.cadastrar h1 {
    font-family: "JetBrains Mono", monospace;
    color: #e83c84c3;
    text-decoration: underline;
}

.desfocado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
}

.cadastrarSe {
    background: #222222;
    width: 500px;
    height: 550px;
    border: 3px solid #e83c84c3;
    border-radius: 86px 32px 86px 86px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.fecharMenu {
    color: #e83c84c3;
    border: 2px solid #e83c84c3;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px 35px 7px 26px;
    position: absolute;
    top: -1.5px;
    right: -1.2px;
}

.fecharMenu img {
    max-width: 26px;
    max-height: 30px;
}

#menuAberto {
    display: none;
}

#menuAberto:checked ~ .desfocado {
    display: flex;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.infos span {
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 1.2vw;
}

.infos input {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    height: 40px;
    width: 40px;
    border-radius: 21px;
    border: 1px solid #E83C84;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.infos label {
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    display: flex;
    color: #FFFFFF;
    margin-left: 80px;
    font-size: 1.1rem;
}

.acessar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    padding: 64px 64px 64px 64px;
}

.acessar button {
    color: white;
    border: 2px solid #e83c84c3;
    font-size: 35px;
    font-family: "JetBrains Mono", monospace;
    background-color: #e83c84cb;
    height: 60px;
    width: 42%;
    border-radius: 24px;
}

.acessar button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #e83c8490;
}