.abrirMenu {
    font-family: "Jersey 25", sans-serif;
    padding: 10px 20px;
    color: white;
    border: 2px solid #840EC9;
    cursor: pointer;
    border-radius: 5px;
}

.cadastrar h1 {
    font-family: "JetBrains Mono", monospace;
    color: #e83c84c3;
    text-decoration: underline;
}

.desfocado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
}

.cadastrarSe {
    background: #222222;
    width: 500px;
    padding: 0px;
    border: 3px solid #e83c84c3;
    border-radius: 86px 32px 86px 86px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

.fecharMenu {
    color: #e83c84c3;
    cursor: pointer;
    height: 25rem;
    position: absolute;
    top: -0.2rem;
    left: 26.6rem;
}

.fecharMenu img {
    width: 24px;
    height: 24px;
    border: 2px solid #e83c84c3;
    border-radius: 6px 35px 7px 26px;
    padding: 1.5rem;
}

#menuAberto {
    display: none;
}

#menuAberto:checked ~ .desfocado {
    display: flex;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos label {
    display: flex;
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
}

.infos input {
    width: 90%;
    max-width: 400px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 12px;
    border: 1px solid #E83C84;
}

input:focus {
    outline: none;
}

.acessar {
    justify-content: center;
    align-items: center;
padding: 20px;
}

.acessar button {
    color: white;
    border: 2px solid #e83c84c3;
    font-size: 20px;
    font-family: "JetBrains Mono", monospace;
    background-color: #e83c84cb;
    height: 50px;
    width: 80%;
    border-radius: 12px;
}

.acessar button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: #e83c8490;
}

#mErro {
    background-color: rgb(34, 34, 34);
    border: solid, 2px, #e83ca9b6;
    position: absolute;
    border-radius: 10px;
    bottom: 7vw;
    right: 2vw;
}